@import url('https://fonts.googleapis.com/css?family=Anton|Contrail+One|Press+Start+2P');


body {
  color:black;
background-color:white;
background-image:url(images/bg.png);
}


.gallery{
font-size: 1.5em;
font-family: Contrail One;
}
a:link, a:visited {
    background-color: #0018FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);;
}
.char1 {
color: black;
font-size: 6em;
font-family: Anton;
}

.char2 {
color: black;
font-size: 6em;
font-family: Anton;
}

.char3 {
color: black;
font-size: 6em;
font-family: Anton;

}
.char4 {
color: black;
font-size: 6em;
font-family: Anton;

}
.char5 {
color: black;
font-size: 6em;
font-family: Contrail One;
}
.char6 {
color: black;
font-size: 6em;
font-family: Contrail One;

}
.char7 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char8 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char9 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char10 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char11 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char12 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char13 {
color: #0018FF;
font-size: 6em;
font-family: Contrail One;

}

.char14 {
color: black;
font-size: 6em;
font-family: Contrail One;

}

.char15 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;

}

.char16 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;

}
.char17 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;


}
.char18 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;

}
.char19 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;

}
.char20 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;


}
.char21 {
  color: black;
  font-size: 6em;
  font-family: Contrail One;

}

.image-links {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  text-align: center;
}
